<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lenneflow Client</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- fontawesome-free -->
    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <div th:insert="sidebar :: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                    <div th:insert="navheader :: navheader"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Workflow Step</h1>
                    </div>
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <form th:action="@{/workflow/{uid}/step/new(uid=${workflow.uid})}" th:object="${workflowStep}" method="post">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4" th:text="${title}"></h1>
                                        </div>

                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="col-form-label">Workflow Step Name</label>
                                                    <input type="text" class="form-control" th:field="*{name}" th:required="required"
                                                           placeholder="">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-form-label">Function Type</label>
                                                    <input type="text" class="form-control" th:field="*{type}" th:required="required"
                                                           placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Function Description</label>
                                                <input type="text" class="form-control" th:field="*{description}" th:required="required"
                                                       placeholder="">
                                            </div>
                                            <div class="form-group row">

                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="col-form-label">Function Image Name</label>
                                                    <input type="text" class="form-control" th:field="*{imageName}" th:required="required"
                                                           placeholder="">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-form-label">Function Resource Path</label>
                                                    <input type="text" class="form-control" th:field="*{resourcePath}" th:required="required"
                                                            placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="col-form-label">Function Service Port</label>
                                                    <input type="number" class="form-control" th:default="8080" th:field="*{servicePort}" th:required="required">
                                                </div>
                                                <div class="col-sm-6">
                                                    <label class="col-form-label">Package Repository</label>
                                                    <select class="form-control" th:field="*{packageRepository}" th:required="required"
                                                            aria-label="Package Repository">
                                                        <option value="DOCKER_HUB" selected>Docker Hub</option>
                                                    </select>
                                                </div>
                                            </div>
                                        <div class="form-group row">
                                            <label class="col-form-label">&emsp;Lazy Deployment</label>
                                            <div class="col-sm-1 mb-3 mb-sm-0">
                                            <input checked="checked" class="form-control" type="checkbox" th:checked="${function.lazyDeployment}" th:field="*{lazyDeployment}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">&nbsp;</h1>
                                        </div>
                                            <div class="form-group">
                                                <label class="col-form-label">Input Schema</label>
                                                <textarea style="height: 300px" type="text" class="form-control" th:field="*{inputSchema}" th:required="required">
                                                </textarea>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Create Function
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">&nbsp;</div>
                            </div>
                            </form>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:insert="footer :: footer"></div>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:insert="logoutmodal :: #logoutModal"></div>


    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- fontawesome-free -->
    <!--script src="/vendor/fontawesome-free/js/all.js"></script -->

<script>
    const copyToClipboard = async () => {
        try {
            const element = document.querySelector(".copy-input");
            await navigator.clipboard.writeText(element.textContent);
            console.log("Text copied to clipboard!");
        } catch (error) {
            console.error("Failed to copy to clipboard:", error);
            // Optional: Display an error message to the user
        }
    };
</script>

</body>

</html>