<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-text mx-3"><img alt="image" width="175" src="/img/logo4.png"></div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="/">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Orchestration
	</div>

	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="/executions/list">
			<span>Workflow Executions</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Accounts
	</div>
	<li class="nav-item">
		<a class="nav-link" href="/user/new">
			<span>New User</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/user/list">
			<span>User List</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/user/new-token">
			<span>Generate Token</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Workflows
	</div>

	<li class="nav-item">
		<a class="nav-link" href="/workflow/schema/list">
			<span>JSON Schema List</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/workflow/list">
			<span>Workflow List</span></a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Functions
	</div>
	<li class="nav-item">
		<a class="nav-link" href="/function/schema/list">
			<span>JSON Schema List</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/function/list">
			<span>Function List</span></a>
	</li>
	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		Workers
	</div>
	<li class="nav-item">
		<a class="nav-link" href="/worker/k8s/token/list">
			<span>Kubernetes Tokens</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/worker/cloud/credential/list">
			<span>Cloud Credentials</span></a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/worker/cluster/list">
			<span>Cluster List</span></a>
	</li>
</ul>
<!-- End of Sidebar -->
</body>
</html>